NODE_ENV=development

# The ID of your GitHub App
APP_ID=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

PRIVATE_KEY=
PROXY_URL=
SERVER_PORT=
SESSION_KEY1=
SESSION_KEY2=

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=
WEBHOOK_SECRET=
